

@import 'reset';
@import 'nav';

.hero {
  margin: 1.5rem;
  width: 100%;
  height: 50vh;
  background: url('../bulldog.jpg') no-repeat fixed;
  background-size: contain;
  color: white;
  font-size: 2rem;
  font-weight: bolder;
}
