<div class="index">
  <div class="hero">
    <div class="hero-content">West Elementary's Save the Animals Club</div>
  </div>
  <div class="hero">
    <div class="hero-content">We want to help animals, through education and targeted giving.</div>
  </div>
  <div class="hero">
    <div class="hero-content">Join Save the Animals Club Today and help do your part.</div>
  </div>
</div>
