<div class="app">
  <div class="container">
    <div class="nav">
      <h1 class="nav-logo">Save the Animals Club</h1>
      <div class="nav-links">
        {{#link-to 'index'}}
          <h3 class="nav-link">Our Goals</h3>{{/link-to}}
        {{#link-to 'need'}}
          <h3 class="nav-link">Animals in Need</h3>{{/link-to}}
        {{#link-to 'join'}}
          <h3 class="nav-link">Join Us</h3>{{/link-to}}
      </div>
    </div>
    {{outlet}}
  </div>
</div>
