<div class="grid">

  <div class="grid-item">
    <a href="https://en.wikipedia.org/wiki/Asian_elephant">
      <div class="grid-item__img">
        <img src="../elephant.jpg" alt="" />
      </div>
      <div class="grid-item__title">Elephant</div>
    </a>
  </div>

  <div class="grid-item">
    <a href="https://en.wikipedia.org/wiki/Asian_elephant">
      <div class="grid-item__img">
          <img src="../girafe.jpg" alt="" />
      </div>
      <div class="grid-item__title">Girafe</div>
    </a>
  </div>

  <div class="grid-item">
    <a href="https://en.wikipedia.org/wiki/Asian_elephant">
      <div class="grid-item__img">
          <img src="../gorilla.jpg" alt="" />
      </div>
      <div class="grid-item__title">Gorilla</div>
    </a>
  </div>



</div>
