<div class="grid">

  <div class="grid-item">
    <a href="https://en.wikipedia.org/wiki/Asian_elephant">
      <div class="grid-item__img">
        <img src="../elephant.jpg" alt="" />
      </div>
      <div class="grid-item__title">Elephant</div>
    </a>
  </div>

  <div class="grid-item">
    <a href="https://en.wikipedia.org/wiki/Giraffe">
      <div class="grid-item__img">
        <img src="../giraffe.jpg" alt="" />
      </div>
      <div class="grid-item__title">Giraffe</div>
    </a>
  </div>

  <div class="grid-item">
    <a href="https://en.wikipedia.org/wiki/Mountain_gorilla">
      <div class="grid-item__img">
        <img src="../gorilla.jpg" alt="" />
      </div>
      <div class="grid-item__title">Gorilla</div>
    </a>
  </div>

  <div class="grid-item">
    <a href="https://en.wikipedia.org/wiki/Polar_bear">
      <div class="grid-item__img">
        <img src="../polar.jpg" alt="" />
      </div>
      <div class="grid-item__title">Polar Bear</div>
    </a>
  </div>

  <div class="grid-item">
    <a href="https://en.wikipedia.org/wiki/Black_rhinoceros">
      <div class="grid-item__img">
        <img src="../rhino.jpg" alt="" />
      </div>
      <div class="grid-item__title">Rhino</div>
    </a>
  </div>

  <div class="grid-item">
    <a href="https://en.wikipedia.org/wiki/Sumatran_orangutan">
      <div class="grid-item__img">
        <img src="../orangutan.jpg" alt="" />
      </div>
      <div class="grid-item__title">Orangutan</div>
    </a>
  </div>

  <div class="grid-item">
    <a href="https://en.wikipedia.org/wiki/Blue_whale">
      <div class="grid-item__img">
        <img src="../whale.jpg" alt="" />
      </div>
      <div class="grid-item__title">Blue Whale</div>
    </a>
  </div>

  <div class="grid-item">
    <a href="https://en.wikipedia.org/wiki/Red_wolf">
      <div class="grid-item__img">
        <img src="../wolf2.jpg" alt="" />
      </div>
      <div class="grid-item__title">Red Wolf</div>
    </a>
  </div>

  <div class="grid-item">
    <a href="https://en.wikipedia.org/wiki/South_China_tiger">
      <div class="grid-item__img">
        <img src="../tiger.jpg" alt="" />
      </div>
      <div class="grid-item__title">Tiger</div>
    </a>
  </div>

  <div class="grid-item">
    <a href="https://en.wikipedia.org/wiki/Vaquita">
      <div class="grid-item__img">
        <img src="../vaquita.jpeg" alt="" />
      </div>
      <div class="grid-item__title">Vaquita</div>
    </a>
  </div>

  <div class="grid-item">
    <a href="https://en.wikipedia.org/wiki/African_wild_dog">
      <div class="grid-item__img">
        <img src="../wild-dog.jpeg" alt="" />
      </div>
      <div class="grid-item__title">African Wild Dog</div>
      {{!-- By <a href="//commons.wikimedia.org/wiki/User:Charlesjsharp" title="User:Charlesjsharp">Charlesjsharp</a> - <span class="int-own-work" lang="en">Own work</span>, from <a rel="nofollow" class="external text" href="http://www.sharpphotography.co.uk/">Sharp Photography, sharpphotography</a>, <a href="http://creativecommons.org/licenses/by-sa/4.0" title="Creative Commons Attribution-Share Alike 4.0">CC BY-SA 4.0</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=37060053">Link</a> --}}
    </a>
  </div>

  <div class="grid-item">
    <a href="https://en.wikipedia.org/wiki/Northern_white-cheeked_gibbon">
      <div class="grid-item__img">
        <img src="../gibbon.jpeg" alt="" />
      </div>
      <div class="grid-item__title">Gibbon</div>
    </a>
  </div>

</div>
